<div id="main">
    <div class="image-container">
        <img class='img' [src]="findPic()" alt="" >
    </div>
    <div style="position: fixed; bottom: 0px;">
        <div class="question"><strong>{{questionStep}}.</strong>{{question}}</div>
        <div class="wrapper">
            <div>
                <button class="answers btn" (click)="submitAnswer(1)" [style]="">{{answer1}}</button>
            </div>
            <div>
                <button class="answers btn" (click)="submitAnswer(2)" [style]="">{{answer2}}</button>
            </div>
            <div>
                <button class="answers btn" (click)="submitAnswer(3)">{{answer3}}</button>
            </div>
        </div>
    </div>
</div>