.custom-container {
    height: 100vh;
    background-image: url('/assets/barrels.jpg');
    /* Replace 'your-image.jpg' with your image file path */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: left;
}

.description{
    margin: 0 20px;
    padding: 30px 20px;
    border-radius: 20px;
    font-size: 20px;
    background-color: #000000;
    position: fixed;
    bottom: 50px;
    max-height: 75vh;
    min-height: 65vh;
    overflow-y: scroll;
    font-family: NeutraBook;
}

.image{
    height: 100px;
    margin-top: 15px;
}