<div class="custom-container">
    <H1 style="text-align: center; font-family: NeutraTittle;">WHO ARE YOU?</H1>
    <div class="container">
        <div class="row" (click)="chooseAvatar(1)">
            <img src="\assets\1.jpg" class="images" alt="" >
            <a>The Smoke</a>
        </div>
        <div class="row" (click)="chooseAvatar(2)">
            <img src="\assets\2.jpg" class="images" alt="" >
            <a>The Wild Bird</a>
        </div>
        <div class="row" (click)="chooseAvatar(3)">
            <img src="\assets\3.jpg" class="images" alt="" >
            <a>The Wonders</a>
        </div>
        <div class="row" (click)="chooseAvatar(4)">
            <img src="\assets\4.jpg" class="images" alt="" >
            <a>The Ladies</a>
        </div>
    </div>
</div>