<div class="container-fluid custom-container">
    <H1 style="text-align: center;">WHO ARE YOU?</H1>
    <div class="container gap-5">
        <div class="row mb-10" (click)="chooseAvatar(1)" routerLink="" style="margin-left: 20px;margin-bottom: 50px; font-family: Myriad Pro; font-weight: bold;">
            <img src="\assets\655.jpg" class="images"  alt="" style="height: 120px; width: 120px; border-radius: 50%">
            <a>The Smoke</a>
        </div>
        <div class="row mb-10"  (click)="chooseAvatar(2)" style="margin-left: 20px;margin-bottom: 50px;">
            <img src="\assets\655.jpg" class="images" alt="" style="height: 120px; width: 120px; border-radius: 50%">
            <a>THE MACHINE</a>
        </div>
        <div class="row mb-10"  (click)="chooseAvatar(3)" style="margin-left: 20px;margin-bottom: 50px;">
            <img src="\assets\655.jpg" class="images" alt="" style="height: 120px; width: 120px; border-radius: 50%">
            <a>THE MACHINE</a>
        </div>
        <div class="row mb-10"  (click)="chooseAvatar(4)" style="margin-left: 20px;margin-bottom: 50px;">
            <img src="\assets\655.jpg" class="images" alt="" style="height: 120px; width: 120px; border-radius: 50%">
            <a>THE MACHINE</a>
        </div>
    </div>
</div>