a{
    color: #fff;
    font-size: 15px;
}
.custom-container {
    height: 100vh;
    background-image: url('/assets/barrels2.jpg'); /* Replace 'your-image.jpg' with your image file path */
    background-size: cover;
    background-position: center;
    color: #fff; /* Set text color to make it visible on the background */
    padding: 20px;
}
a{
    margin-left: 50px;
    color: #fff;
    background-color: black;
    padding: 10px;
}
.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    transition: opacity 0.3s;
}

.image-container:hover img {
    opacity: 0.7; /* Adjust the opacity level for the fade effect */
}

.images{
    box-shadow: 10px 10px 16px -7px rgba(255,255,255,0.75);
    -webkit-box-shadow: 10px 10px 16px -7px rgba(255,255,255,0.75);
    -moz-box-shadow: 10px 10px 16px -7px rgba(255,255,255,0.75);
}