<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<div class="container-fluid custom-container" style="text-align: center;">
    
    <img src="\assets\logo-lkc.png" alt="" style="height: 150px;margin-top: 50px;">
    <img src="\assets\liftYourSpirits.png" alt="" style="height: 100px;margin-top: 25px;">
</div>
<div class="bottom-element" >
    <button class="btn" routerLink="#preview">
      LET'S PLAY
    </button>
</div>
<div *ngIf="isModalOpen" class="modal">
    <div class="modal-content">
      <h1>Continue if you are over 18</h1>
      <button class="btn" (click)="closeModal()">AGREE</button>
    </div>
  </div>

  