<div class="custom-container">
    <div class="textaki">
        <p>
            We stumbled upon a quiz concealed within an ancient sherry cask, scribbled on
            a discolored piece of paper.
        </p>
        <p>
            Our investigations determined that the cask originated from the highlands,
            while the paper was sourced from an ancient cedar tree. A wild bird flew from
            the barrel once opened. Additionally, three different women contributed to the
            writing.
        </p>
        <p>
            To this day, the purpose and significance of this enigmatic quiz remain a mystery.
            What we do know, however, is that you’re now a part of it too.
        </p>
        <div style="text-align: center;">
            <button class="btn"
                style="background-color:transparent; border: 3px solid white; border-radius: 40px; padding: 5px 35px; margin-top: 10px;"
                routerLink="/#avatars">
                <svg xmlns="http://www.w3.org/2000/svg" height="2em" width="2em" viewBox="0 0 320 512">
                    <path
                        d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
                        fill="white" stroke="black" stroke-width="10" />
                </svg> </button>
        </div>
    </div>
</div>